@model IEnumerable<UsersGroupsData.DBModels.User>

@{
    ViewData["Title"] = "View Users";
}


<h3>Following table shows users details</h3>
<p>You can also create a new user <a href="~/Users/Create">here</a>. </p>

<table class="users-table">
    <tr>
        <th>Id</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var user in Model)
        {
            // Create the list of these users
            <tr>
                <td>@user.UserId</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Age</td>
                <td>@user.Email</td>
            </tr>
        }
    }
</table>